.artImage {
  height: 345px;
  width: 345px;
  box-shadow: 5px 5px 2px black;
  -moz-box-shadow: 5px 5px 2px black;
  -webkit-box-shadow: 5px 5px 2px black;
  display: block;
  margin: 0 auto;
}
.artGallery {
-moz-column-count: 3;
-webkit-column-count: 3;
}
.artistName{
  text-align: center;
}
.artwork{

  display: block;
  margin: 0 auto;
  height: 360px;
  width: 360px;
}
.artTitle{
  text-align: center;
}

.mySlides {
  display:none;
}
