.slideshowPicture {
  height:400px;
  width:600px;
  margin: auto;
}
.slideContainer {
  margin: 0 auto;
  padding: 40px;
  width: 600px;
  height: 1000px
  color: #333;
/*  background: black;*/
}

.loadingDiv {  
  text-align: -webkit-center;
/*  background-color: lightgrey;
  width: 300px;
  border: 10px solid black;
  padding: 25px;
  margin: auto;*/
}

/*.loadingDiv p {
  padding-top: 50px;
  text-align: -webkit-center;
}*/

.closeButton--jss-0-1 {
  display: none !important;
}
.errorMessage {
  color: red;
}
.artImage {
  height: 250px;
  width: 250px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
}
.artGallery {
-moz-column-count: 4;
-webkit-column-count: 4;
}
.search-input {
  margin: 0 100px 10px 100px;
  position: relative;
 text-align: right;
}
.artistName{
  text-align: center;
}
.artwork{
  display: block;
  margin: 0 auto;
  height: 275px;
  width: 275px;
}
.artTitle{
  text-align: center;
}
.mySlides {
  display:none;
}

.soloWork {
  padding:20px;
  margin: 30px;
  background: #eef;
  text-align: -webkit-center;
}
.soloArtTitle {
  margin: 0;
}
.soloArtInfo {
  display: inline;
  margin-left: 25px;
}

body {
		background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    position: relative;
}

html,body {
      width: 100%;
     overflow-x: hidden;
  }

.post-masonry img {
    width: 100%;
    display: block;
}

/* Typography
------------------------------------- */
h1,h2,h3,h4,h5 {
  font-weight: bold;
}

h1 {
  font-size: 62px;
  line-height: 72px;
}

h2 {
  color: #323232;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 1px;
  padding-bottom: 12px;
}

h3 {
  color: #ffa400;
  font-size: 16px;
  letter-spacing: 26px;
  letter-spacing: 2px;
}

h5 {
  color: #ffa400;
  line-height: 28px;
  letter-spacing: 2px;
}

p {
  font-size: 16px;
  letter-spacing: 0.9px;
  line-height: 32px;
}



/* All Section styles
------------------------------------- */

.parallax-section {
  	background-attachment: fixed !important;
  	background-size: cover !important;
}

/* home section styles
/* ========================================== */
#home {
  background: url('http://4.bp.blogspot.com/-uP2IZK4vPFc/UxlnO8hTk0I/AAAAAAAAASo/mNoQ9NuwIgM/s1600/IMG_1070.JPG') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  text-align: center;
}


#home p {
  color: white;
 /* font-family: Arial, Helvetica, sans-serif;*/
  font-size: 125px;
}

/*#home span {
  background-color: rgba(10, 128, 128, .5);
}
*/
#home .btn {
  background: transparent;
  border-color: transparent;
  color: #ffffff;
  font-size: 33px;
  /*font-weight: bold;*/
  padding: 14px 52px;
  margin-top: 40px;
  transition: all 0.4s ease-in-out;
}

/*#home .btn-danger {
  background: black !important;
  margin-right: 20px;
}

#home .btn-danger:hover {
  background: #ffa400 !important;
}

#home .btn:hover {
  background: #ffa400;
}*/

/* Navbar styles */
/* ========================================= */

.usernameSpan {
  margin: 30px;
  position: relative;
  top: 11.5px;
}

/* Home Page Borders */
/* ========================================= */
/*#home .top, .bottom, .left, .right {
  background: teal;
  position: fixed;
  opacity: 0.5;
  }

#home .left, .right {
  top: 0; bottom: 0;
  width: 15px;
  }
  .left { left: 0; }
  .right { right: 0; }
  
#home .top, .bottom {
  left: 0; right: 0;
  height: 15px;
  }
  .top { top: 0; }
  .bottom { bottom: 0; }*/